.sidebarContainer {
    width: 240px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 60px 0 0 25px;
    position: relative;
}
@media screen and (max-width: 1200px) {
    .sidebarContainer {
        width: 200px;
        padding: 40px 0 0 10px;
   }
}
@media screen and (max-width: 992px) {
    .sidebarContainer {
        display: none;
   }
}
.sidebarContainer .sidebarLogo {
    padding-left: 20px;
}
.sidebarContainer .sidebarLinks {
    padding: 40px 0px;
    list-style-type: none;
    position: relative;
}
.sidebarContainer .sidebarLinks > .sidebarLink {
    cursor: pointer;
    position: relative;
}
.sidebarContainer .sidebarLinks > .sidebarLink > a {
    padding: 15px;
    font-family: var(--Mulish);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
@media screen and (max-width: 1200px) {
    .sidebarContainer .sidebarLinks > .sidebarLink > a {
        font-size: 14px;
   }
}
.sidebarContainer .sidebarLinks > .sidebarLink:hover > a {
    color: #00b67a;
}
.sidebarContainer .sidebarLink.active {
    background: #fff;
    border-radius: 12px 0 0 12px;
}
.sidebarContainer .sidebarLink.active a {
    color: #00b67a;
}
.sidebarContainer .sidebarLink.active::before, .sidebarContainer .sidebarLink.active::after {
    content: "";
    position: absolute;
}
.sidebarContainer .sidebarLink.active::before {
    top: -80px;
    right: -1px;
    height: 80px;
    width: 40px;
    border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0 40px 0 0 #fff;
    -moz-box-shadow: 0 40px 0 0 #fff;
    box-shadow: 0 40px 0 0 #fff;
}
.sidebarContainer .sidebarLink.active::after {
    top: 54px;
    right: -1px;
    height: 80px;
    width: 40px;
    border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-box-shadow: 0 -40px 0 0 #fff;
    -moz-box-shadow: 0 -40px 0 0 #fff;
    box-shadow: 0 -40px 0 0 #fff;
}
.sidebarContainer .sidebarLogoutButton {
    position: absolute;
    bottom: 50px;
}
.sidebarContainer .sidebarLogoutButton a {
    padding: 12px;
    background-color: #f5fffd;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 150px;
    border-radius: 12px;
}
.sidebarMobileContainer {
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 40px 10px;
    position: absolute;
    z-index: 99;
    transition: all 3s ease-in-out;
    transform: translateX(-200px);
}
.sidebarMobileContainer .sidebarMobileLogo {
    padding-left: 20px;
}
.sidebarMobileContainer .sidebarMobileLinks {
    padding: 40px 0px;
    list-style-type: none;
    position: relative;
}
.sidebarMobileContainer .sidebarMobileLinks > .sidebarMobileLink {
    cursor: pointer;
    position: relative;
}
.sidebarMobileContainer .sidebarMobileLinks > .sidebarMobileLink > a {
    padding: 15px;
    font-family: var(--Mulish);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
@media screen and (max-width: 1200px) {
    .sidebarMobileContainer .sidebarMobileLinks > .sidebarMobileLink > a {
        font-size: 14px;
   }
}
.sidebarMobileContainer .sidebarMobileLinks > .sidebarMobileLink:hover > a {
    color: #00b67a;
}
.sidebarMobileContainer .sidebarMobileLink.active {
    background: #fff;
    border-radius: 12px;
}
.sidebarMobileContainer .sidebarMobileLink.active a {
    color: #00b67a;
}
.sidebarMobileContainer .sidebarMobileLogoutButton {
    position: absolute;
    bottom: 50px;
}
.sidebarMobileContainer .sidebarMobileLogoutButton a {
    padding: 12px;
    background-color: #f5fffd;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 150px;
    border-radius: 12px;
}
.bgSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #676767 85;
    z-index: 9;
}
.sidebarMobileContainer.active {
    transform: translateX(0);
}
