.sidebarContainer {
    width: 240px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 60px 0 0 25px;
    position: relative;
    @media screen and (max-width: 1200px) {
      width: 200px;
      padding: 40px 0 0 10px;
    }
    @media screen and (max-width: 992px) {
       display: none;
  //     transform: translateX(-200px);
   }
  
    .sidebarLogo {
      padding-left: 20px;
    }
  
    .sidebarLinks {
      padding: 40px 0px;
      list-style-type: none;
  
      position: relative;
    }
    .sidebarLinks > .sidebarLink {
      //    padding: 15px;
      cursor: pointer;
      position: relative;
    }
  
  
    .sidebarLinks > .sidebarLink > a {
      padding: 15px;
      font-family: var(--Mulish);
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
      @media screen and (max-width: 1200px) {
        font-size: 14px;
      }
    }
    .sidebarLinks > .sidebarLink:hover > a {
      color: #00b67a;
    }
  //   .sidebarLinks > .sidebarLink:hover::before {
  //     top: -80px;
  //     right: -1px;
  //     height: 80px;
  //     width: 40px;
  //     border-bottom-right-radius: 20px;
  //     -moz-border-bottom-right-radius: 20px;
  //     -webkit-border-bottom-right-radius: 20px;
  //     -webkit-box-shadow: 0 40px 0 0 #fff;
  //     -moz-box-shadow: 0 40px 0 0 #fff;
  //     box-shadow: 0 40px 0 0 #fff;
  //   }
  //   .sidebarLinks > .sidebarLink:hover::after {
  //     top: 54px;
  //     right: -1px;
  //     height: 80px;
  //     width: 40px;
  //     border-top-right-radius: 20px;
  //     -moz-border-top-right-radius: 20px;
  //     -webkit-border-top-right-radius: 20px;
  //     -webkit-box-shadow: 0 -40px 0 0 #fff;
  //     -moz-box-shadow: 0 -40px 0 0 #fff;
  //     box-shadow: 0 -40px 0 0 #fff;
  //   }
    .sidebarLink.active {
      background: #fff;
      border-radius: 12px 0 0 12px;
      a {
        color: #00b67a;
      }
      &::before,&::after{
       content: "";
       position: absolute;
      }
      &::before {
       top: -80px;
       right: -1px;
       height: 80px;
       width: 40px;
       border-bottom-right-radius: 20px;
       -moz-border-bottom-right-radius: 20px;
       -webkit-border-bottom-right-radius: 20px;
       -webkit-box-shadow: 0 40px 0 0 #fff;
       -moz-box-shadow: 0 40px 0 0 #fff;
       box-shadow: 0 40px 0 0 #fff;
     }
     &::after {
       top: 54px;
       right: -1px;
       height: 80px;
       width: 40px;
       border-top-right-radius: 20px;
       -moz-border-top-right-radius: 20px;
       -webkit-border-top-right-radius: 20px;
       -webkit-box-shadow: 0 -40px 0 0 #fff;
       -moz-box-shadow: 0 -40px 0 0 #fff;
       box-shadow: 0 -40px 0 0 #fff;
     }
    }
    
    .sidebarLogoutButton {
      position: absolute;
      bottom: 50px;
      a {
        padding: 12px;
        background-color: #f5fffd;
        color: #333;
        display: flex;
        align-items: center;
        gap: 8px;
        width: 150px;
        border-radius: 12px;
      }
    }
  }
  
  
  
  
  .sidebarMobileContainer {
       width: 200px;
       height: 100vh;
       background-color: #333;
       color: #fff;
       padding: 40px 10px;
       position: absolute;
       z-index: 99;
       transition: all 3s ease-in-out;
       transform: translateX(-200px);
      
       
  //      @media screen and (max-width: 992px) {
  //         display: none;
  //    //     transform: translateX(-200px);
  //     }
     
       .sidebarMobileLogo {
         padding-left: 20px;
       }
     
       .sidebarMobileLinks {
         padding: 40px 0px;
         list-style-type: none;
     
         position: relative;
       }
       .sidebarMobileLinks > .sidebarMobileLink {
         //    padding: 15px;
         cursor: pointer;
         position: relative;
       }
     
     
       .sidebarMobileLinks > .sidebarMobileLink > a {
         padding: 15px;
         font-family: var(--Mulish);
         font-size: 16px;
         font-weight: 600;
         color: #fff;
         text-decoration: none;
         display: flex;
         align-items: center;
         gap: 8px;
         @media screen and (max-width: 1200px) {
           font-size: 14px;
         }
       }
       .sidebarMobileLinks > .sidebarMobileLink:hover > a {
         color: #00b67a;
       }
     //   .sidebarMobileLinks > .sidebarMobileLink:hover::before {
     //     top: -80px;
     //     right: -1px;
     //     height: 80px;
     //     width: 40px;
     //     border-bottom-right-radius: 20px;
     //     -moz-border-bottom-right-radius: 20px;
     //     -webkit-border-bottom-right-radius: 20px;
     //     -webkit-box-shadow: 0 40px 0 0 #fff;
     //     -moz-box-shadow: 0 40px 0 0 #fff;
     //     box-shadow: 0 40px 0 0 #fff;
     //   }
     //   .sidebarMobileLinks > .sidebarMobileLink:hover::after {
     //     top: 54px;
     //     right: -1px;
     //     height: 80px;
     //     width: 40px;
     //     border-top-right-radius: 20px;
     //     -moz-border-top-right-radius: 20px;
     //     -webkit-border-top-right-radius: 20px;
     //     -webkit-box-shadow: 0 -40px 0 0 #fff;
     //     -moz-box-shadow: 0 -40px 0 0 #fff;
     //     box-shadow: 0 -40px 0 0 #fff;
     //   }
       .sidebarMobileLink.active {
         background: #fff;
         border-radius: 12px;
         a {
           color: #00b67a;
         }
        //  &::before,&::after{
        //   content: "";
        //   position: absolute;
        //  }
        //  &::before {
        //   top: -80px;
        //   right: -1px;
        //   height: 80px;
        //   width: 40px;
        //   border-bottom-right-radius: 20px;
        //   -moz-border-bottom-right-radius: 20px;
        //   -webkit-border-bottom-right-radius: 20px;
        //   -webkit-box-shadow: 0 40px 0 0 #fff;
        //   -moz-box-shadow: 0 40px 0 0 #fff;
        //   box-shadow: 0 40px 0 0 #fff;
        // }
        // &::after {
        //   top: 54px;
        //   right: -1px;
        //   height: 80px;
        //   width: 40px;
        //   border-top-right-radius: 20px;
        //   -moz-border-top-right-radius: 20px;
        //   -webkit-border-top-right-radius: 20px;
        //   -webkit-box-shadow: 0 -40px 0 0 #fff;
        //   -moz-box-shadow: 0 -40px 0 0 #fff;
        //   box-shadow: 0 -40px 0 0 #fff;
        // }
       }
       
       .sidebarMobileLogoutButton {
         position: absolute;
         bottom: 50px;
         a {
           padding: 12px;
           background-color: #f5fffd;
           color: #333;
           display: flex;
           align-items: center;
           gap: 8px;
           width: 150px;
           border-radius: 12px;
         }
       }
     }
  
     .bgSidebar{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #67676785;
       z-index: 9;
     }
     .sidebarMobileContainer.active{
       transform: translateX(0);
     }