.contentContainer{
    margin-bottom: 24px;
}

.cardListContainer{
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;

    @media screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 567px) {
        grid-template-columns: 1fr;
    }
}